

ul.page-menus > li > a {
    font-size: 110%;
    color: #fff;
    font-family: "Biome", Arial, Helvetica, sans-serif
}
.rtl ul.page-menus > li > a {
    font-family: "KMT", Arial, Helvetica, sans-serif
}
.paddingBetweenCols td
{
    padding:0 30px;
}
 .customDropdown .dropdown-menu>li>a {
        display: block;
        padding: 0px 0px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
     }
.btn-pos-kmt {
  color: #fff;
  background-color: #D20806;
  border-color: whitesmoke;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.footer-menus ul.page-menus:not(#menu-quick-links) {
    margin: 0 -10px
}

.footer-menus ul.page-menus:not(#menu-quick-links)>li.menu-item {
    float: left;
    width: 20%;
    padding: 0 10px
}
.rtl .footer-menus ul.page-menus:not(#menu-quick-links)>li.menu-item {
    float: right;
}
.rtl p {text-align: right;}
.show #bs-example-navbar-collapse-1 {display:block !important;}
.search .entry-title a {color:#000;}
.business-vip .ttl {
    text-align: left;
}
span.search-for {
    font-size: 50%;
}
.ttl {
    text-shadow: 1px 1px 12px rgba(0,0,0,0.58);

}
.search .card-body{
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Biome", Arial, Helvetica, sans-serif;
}

.rtl h1,.rtl h2,.rtl h3,.rtl h4,.rtl h5,.rtl h6,.rtl .h1,.rtl .h2,.rtl .h3,.rtl .h4,.rtl .h5,.rtl .h6 {
    font-family: "KMT", Arial, Helvetica, sans-serif;
}

.rc2 {
    margin: 0 0 0 270px;
}
.rtl .rc2 {
    margin: 0 200px 0 0;
}
@media (max-width: 900px) {
    body { font-size: 1rem;
}
    .rtl .rc2 {
        margin: 0 32px 0 0;
    }
    .rc2 {
        margin: 0 0 0 64px;
    }
}
.card-header button {
    font-family: Biome;
    color: #000;
}
.rtl .card-header button {
    font-family: KMT;
    }
.quform label {
    font-family: Biome;
}
.gallery:after {content:"";display:table;clear:both;}

.gallery img.aligncenter, div.aligncenter, figure.aligncenter, .gallery img.wp-post-image {display:block; margin:1em auto;}
.gallery img.alignright, div.alignright, figure.alignright {float:right; margin:1em 0 1em 2em;}
.gallery img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {float:left; margin:1em 1em 2em 0;}
.gallery figure {max-width: 100%; height: auto; margin:1em 0;}
p img.alignright, p img.alignleft {margin-top:0;}


.gallery figure img {max-width:100%; height:auto; margin:0 auto; display:block;    border-radius: 8px;}


.gallery figure {float:left; margin:0 2% 1em 0;}


.gallery.gallery-columns-1 figure {width:100%; margin:0 0 1em 0; float:none;}


.gallery.gallery-columns-3 figure {width:32%;}
.gallery.gallery-columns-3 figure:nth-of-type(3n+3) {margin-right:0;}
.gallery.gallery-columns-3 figure:nth-of-type(3n+4) {clear:left;}


.gallery.gallery-columns-2 figure {width:49%;}
.gallery.gallery-columns-2 figure:nth-of-type(even) {margin-right:0;}
.gallery.gallery-columns-2 figure:nth-of-type(odd) {clear:left;}


.gallery.gallery-columns-4 figure {width:23.25%;}
.gallery.gallery-columns-4 figure:nth-of-type(4n+4) {margin-right:0;}
.gallery.gallery-columns-4 figure:nth-of-type(4n+5) {clear:left;}


.gallery.gallery-columns-5 figure {width:18%;}
.gallery.gallery-columns-5 figure:nth-of-type(5n+5) {margin-right:0;}
.gallery.gallery-columns-5 figure:nth-of-type(5n+6) {clear:left;}


.gallery.gallery-columns-6 figure {width:14.2%;}
.gallery.gallery-columns-6 figure:nth-of-type(6n+6) {margin-right:0;}
.gallery.gallery-columns-6 figure:nth-of-type(6n+7) {clear:left;}


.gallery.gallery-columns-7 figure {width:12%;}
.gallery.gallery-columns-7 figure:nth-of-type(7n+7) {margin-right:0;}
.gallery.gallery-columns-7 figure:nth-of-type(7n+8) {clear:left;}


.gallery.gallery-columns-8 figure {width:10.2%;}
.gallery.gallery-columns-8 figure:nth-of-type(8n+8) {margin-right:0;}
.gallery.gallery-columns-8 figure:nth-of-type(8n+9) {clear:left;}


.gallery.gallery-columns-9 figure {width:8.85%;}
.gallery.gallery-columns-9 figure:nth-of-type(9n+9) {margin-right:0;}
.gallery.gallery-columns-9 figure:nth-of-type(9n+10) {clear:left;}


@media (max-width:767px) {
	img.alignright, div.alignright, figure.alignright, img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {display:block; margin:1em auto; float:none;}
	.gallery.gallery-columns-4 figure, .gallery.gallery-columns-5 figure, .gallery.gallery-columns-6 figure, .gallery.gallery-columns-7 figure, .gallery.gallery-columns-8 figure, .gallery.gallery-columns-9 figure {width:100%; margin:0 0 1em 0; float:none;}
}


img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 100%;
    height: auto;
}
img.aligncenter.wp-image-2036 {
    width: 100%;
    height: auto;
}


#search {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
@media (max-width: 900px) {
    #search input[type="search"] {
        font-size: 28px;
    }
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #121B3C;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

form#mc4wp-form-1 {
    width: 100%;
    margin-bottom: 0px;
}

.newsletter-input {width: 90%;float: left;}
.rtl .newsletter-input {
    width: 90%;
    float: right;
}
.overlay{position: absolute;left: 0; top: 0; right: 0; bottom: 0;z-index: 99999;background-color: #121B3C;}
.overlay-content {
    position: absolute;
    transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
}
.quform-label>label>.quform-required {
    color: #121B3C;
    font-size: 100%;
}
.business-vip p {margin-bottom:0;}
.single-custom .single-title {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    text-align: center;
    width: 100%;
    color: #fff;
    z-index: 99;
    line-height: 1em;

}

.single-post .single-custom .single-title {
	  background: rgba(215, 29, 44, 0.4);
    padding: 5px 20px;
}

@media (min-width:960px) {
	.single-custom  .single-title { font-size: 3.6rem}
	}
@media (min-width: 1440px) {
	.single-custom  .single-title { font-size: 7rem}
	.single-post .single-custom  .single-title { font-size: 4.5rem}
	}
@media (max-width: 900px) {
    .single-custom .ttl { font-size: 1.5rem}
    .single-custom .ttl2 { font-size: 1.2rem }
    .single-custom h3 { font-size: 1rem }
}
.single-custom .ttl2:after {
        content: "";
        width: 80px;
        height: 10px;
        background-color: #121b3c;
        display: block;
        margin: 10px 0 20px;
    }
.single-custom img.float-curve {
    position: absolute;
    bottom: 0;
    right: 0;
}
.single-custom figure , .single-custom img.featured {width: 100%}
.single-custom article {width: 90%; margin: 0 auto}

article p {    line-height: 1.8em;}


nav.woocommerce-MyAccount-navigation- {
    padding: 25px;
}

li.woocommerce-MyAccount-navigation-link.nav-item {
    margin: 4px 15px;
}
.woocommerce-MyAccount-navigation-link a.btn.btn-kmt.btn-kmt-inv {
    font-size: 16px;
}
h2.woocommerce-column__title {
    font-size: 1.25rem;
}


.woocommerce button {
    background: #d00806  !important;
    border-radius: 6px  !important;
    font-size: .8rem;
    font-weight: 700;
    transform: skew(-25deg);
    -o-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -webkit-transform: skew(-25deg);
    padding: 5px 15px;
    color: #fff;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*
timeline
 */
.timeline {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  background: #fff;
      padding: 30px 6px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.timeline .entry {
  clear: both;
  text-align: left;
  position: relative;
}
.timeline .entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.timeline .entry .title:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid salmon;
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -21px;
    z-index: 99;
}

.timeline .entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.timeline .entry .body p {
  line-height: 1.4em;
}
.rtl .timeline .entry .title {
    float: right;
    padding-right: 30px;
    padding-left: 0px;
    text-align: left;
}

.rtl .timeline:before {
    top: 0;
    right: calc(33% + 15px);
    left: auto;
}
.rtl .timeline .entry .body {
    padding-left: 0;
    padding-right: 30px;
}

.rtl .timeline .title p   { text-align: left; }

.rtl .timeline .entry .title:before {
    left: -21px;
    right: auto;
}

.user-menu a{color: #fff}
.container-fluid.user-menu {
    font-size: 14px;
}
.rtl .user-menu .text-right {text-align: left !important}
.user-navbar-woo .navbar .navbar-nav {padding: 0 !important;}
.user-navbar-woo .bg-light {
    background-color: transparent !important;
}

.user-navbar-woo button.navbar-toggler {
    padding: 8px 9px !important;
}
.user-navbar-woo .navbar .navbar-brand {border: 0px !important}
@media (max-width: 900px){
    .rtl .user-navbar-woo .navbar .navbar-brand {    left: 183px; }
}

.rtl .detail .text-left { text-align: right !important }
.faq .card-header  button.btn.btn-link { white-space: normal !important; }

.page-id-1915 ,.page-id-1911 {
    background: #121b3c;
}

.required {
    color: red;
    font-weight: 700;
    border: 0!important;
    text-decoration: none;
}
