// colors

// Mixins

/* Font weights */

@for $i from 1 through 9 {
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}

/* font Sizes */
@for $i from 1 through 99 {
    .fz-#{$i} {
        font-size: $i / 16 * 1rem;

        @media(max-width: 768px){
            @if $i > 60{
                font-size: 3rem;
            }
        }
        @media(max-width: 575px){
            @if $i > 40{
                font-size: 2rem;
            }
        }
   
    }
}

/* Borders */

.bn {
    border: none;
}

@for $i from 1 through 50 {
    .br-#{$i} {
        border-radius: $i * 1px;
    }
}

/* Anchor Tags */
.tdn {
    text-decoration: none !important;
}

.tdu {
    text-decoration: underline;
}

/* Postions */
.posr {
    position: relative;
}

.posf {
    position: fixed;
}

.posa {
    position: absolute;
}

/* overflows */
.oh {
    overflow: hidden;
}

.oxh {
    overflow-x: hidden;
}

.oyh {
    overflow-y: hidden;
}

.oxs {
    overflow-x: scroll;
}

.oys {
    overflow-y: scroll;
}