@import "bootstrap/bootstrap.scss";
@import "common";


body{
	background: $light;
}

@media(min-width: 992px){
	body{
		background: linear-gradient(to right, $gray-100 50%, $white 50%);
	}
}

header{
	overflow: hidden;
}
.navbar-brand{
	max-width: 170px;
}
.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

@media(min-width: 992px){
	.navbar-nav a.nav-link{
		position: relative;
		z-index: 1;
	}
	.navbar-nav.nav1 .last a{
		position: relative;
		z-index:2;
	}
	.navbar-nav img.posa{
		z-index: 0;
		right:-30px;
		top:-60%;
	}

	.navbar-nav.nav1 img.posa{
		z-index: 0;
		left:-100px;
		top:-10%;
	}
	.navbar-nav.nav1 .last{
		padding-left: 1rem;
	}
	.navbar-nav.nav1 .last img.posa{
		z-index: 0;
		left:-35px;
		z-index:0;
	}
	.navbar-nav.nav1 .fst{
		right: -20px
	}
}


// Content

.content ul li a.nav-link.active{
	transition: .7s;
	@media(min-width: 992px){
		transform: translate(20px);
	}
	.event{
		.head{
			background: $danger !important;
			color: $white !important;
		}
		.info{
			background: $warning !important;
			color: $white !important;
		}
	}
}